.eventCard {
  border: 1px solid #c73535;
  width: 900px;
  margin: 10px auto;
  padding-left: 10px;
}

.eventCard__title, .eventCard__description, .eventCard__date {
  color: blue;
}

.comment {
  font-size: 50px;
}
